* {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*.clearfix {
  zoom: 1;
}
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  width: 90%;
  margin: 0 auto;
}

#header {
  margin-bottom: 1em;
  border-bottom: 2px solid #630;
  font-size: 1.2em;
}

#header h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #630
}

#mainContent img {
  float: left;
  margin-right: 15px;
}

#interview {
  margin-bottom: 10px;
}

dl {
  margin-left: 15px;
}

dt {
  font-style: italic;
}

dd {
  font-size: 1.1em;
}

.gallery {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#footer {
  line-height: 3em;
  background-color: #630;
  color: white;
  font-size: 0.8em;
  padding: 5px;
  margin: 20 auto;
  text-align: center;
}